.depoimento {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: var(--cor-p1);
}
.depoimento img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0px;
}
.depoimento-conteudo {
  padding: 40px 40px 80px 80px;
  align-items: end;
}
.depoimento p {
  font: 600 2rem/1.25 "Poppins", sans-serif;
  color: var(--cor-p5);
  margin-bottom: 32px;
  max-width: 32ch;
}
.depoimento span {
  font: 400 1.125rem/1.35 "Poppins", sans-serif;
  color: var(--cor-p4);
}
.depoimento p::before {
  content: "“";
  font-size: 5rem;
  color: var(--cor-p2);
  position: absolute;
  left: 1025px;
}
